* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
  width: 1080px;
}

h1 {
  margin: 0.25em;
  text-align: center;
}
#canvas {
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.425);
}

#counter {
  text-align: center;
}

.container {
  float: left;
  width: 520px;
}

ul {
  list-style: none;
}

canvas {
  border: 1px solid black;
}